<div class="wrap listPage">
    <div class="font-page">
        <div class="font-title-sec">
            <span class="font-title bold"><%=@krfonts.fontName%></span><span class="company-title"><%=@fontcompanies.companyName%></span>
            <a class="download-btn" target="_blank" href="<%=@krfonts.d_link%>">
                <svg width="25px" height="23px" viewBox="0 0 25 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Artboard" transform="translate(-1237.000000, -186.000000)" fill-rule="nonzero" fill="#00A997">
                            <g id="Group" transform="translate(1237.000000, 186.000000)">
                                <polygon id="Line-2" transform="translate(12.000000, 8.500000) rotate(-270.000000) translate(-12.000000, -8.500000) " points="4 10 20 10 20 7 4 7"></polygon>
                                <polygon id="Triangle-2" transform="translate(12.000000, 14.000000) rotate(-270.000000) translate(-12.000000, -14.000000) " points="7.02076712 18.9668505 8.5311786 21 17 14.145999 8.55194572 7 7 8.99878229 13.0324399 14.1014732"></polygon>
                                <polygon id="Rectangle-10" transform="translate(12.500000, 18.250000) rotate(-270.000000) translate(-12.500000, -18.250000) " points="13.75 8.75 13.75 27.75 8.25 27.75 8.25 30.75 16.75 30.75 16.75 5.75 8.25 5.75 8.25 8.75"></polygon>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="font-usage">
            
            <span class="usage-title">사용범위</span>
            <% for i in 1..6 %>
                <% if @find_range.where(category_id:i) == [] %>
                    <span class="usage-name c-red"><%= Category.find(i).categoryName %></span>
                <% else %>
                    <% if i==1 %>
                        <span class="usage-name c-<%=@find_range.where(category_id:i).take.range%>">현수막</span>
                        <span class="usage-name c-<%=@find_range.where(category_id:i).take.range%>">포스터</span>
                        <span class="usage-name c-<%=@find_range.where(category_id:i).take.range%>">서적</span>
                    <% else %>
                        <span class="usage-name c-<%=@find_range.where(category_id:i).take.range%>"><%= Category.find(i).categoryName %></span>
                    <% end %>
                <% end %>
            <% end %>
            <span class="usage-name  c-true">영상</span>
            <span class="usage-name  c-true">전자책</span>
            <span class="usage-name c-true">PPT</span>
            
            <% if @fontcompanies.transform==2 %>
                <span class="usage-name c-true">글꼴변형</span>
            <% elsif @fontcompanies.transform==1 %>
                <span class="usage-name c-false">글꼴변형</span>
            <% else %>
                <span class="usage-name c-red">글꼴변형</span>
            <% end %>
        </div>
        <div class="font-usage-ex">
            <div class="ex-group"><span class="usage-ex c-false">조건부 허용</span><span class="usage-ex c-red">비허용</span><span class="usage-ex">허용</span></div>
            <span class="usage-pa">위 사용범위는 참고용으로, 정확한 사용범위는 이용 전 확인바랍니다.</span>
            
        </div>
        <div class="font-contents">
           <%= simple_format( @fontcompanies.license) %>
        </div>
        <div class="font-cdn-sec">
            <span class="cdn-title">웹폰트로 사용하기</span>
            
                <div class="cdn-code">
                <span style="white-space: pre-line"><%= @krfonts.font_cdn %></span>
                </div>
                <!--<div class="colorscripter-code" style="color:#010101; font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace !important; position:relative !important; overflow:auto"><table class="colorscripter-code-table" style="margin:0; padding:0; border:none; background-color:#eeeeee; border-radius:4px;" cellspacing="0" cellpadding="0"><tr><td style="padding:6px; border-right:2px solid #e5e5e5"><div style="margin:0; padding:0; word-break:normal; text-align:right; color:#666; font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace !important; line-height:130%"><div style="line-height:130%">1</div><div style="line-height:130%">2</div><div style="line-height:130%">3</div><div style="line-height:130%">4</div><div style="line-height:130%">5</div><div style="line-height:130%">6</div><div style="line-height:130%">7</div><div style="line-height:130%">8</div><div style="line-height:130%">9</div><div style="line-height:130%">10</div><div style="line-height:130%">11</div><div style="line-height:130%">12</div><div style="line-height:130%">13</div><div style="line-height:130%">14</div><div style="line-height:130%">15</div><div style="line-height:130%">16</div><div style="line-height:130%">17</div><div style="line-height:130%">18</div><div style="line-height:130%">19</div><div style="line-height:130%">20</div><div style="line-height:130%">21</div><div style="line-height:130%">22</div><div style="line-height:130%">23</div><div style="line-height:130%">24</div></div></td><td style="padding:6px 0"><div style="margin:0; padding:0; color:#010101; font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace !important; line-height:130%"><div style="padding:0 6px; white-space:pre; line-height:130%">@font-face&nbsp;{</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-family:&nbsp;'LotteMartDream';</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-style:&nbsp;normal;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-weight:&nbsp;400;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;src:&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')&nbsp;format('woff2'),&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')&nbsp;format('woff');</div><div style="padding:0 6px; white-space:pre; line-height:130%">}</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;</div><div style="padding:0 6px; white-space:pre; line-height:130%">@font-face&nbsp;{</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-family:&nbsp;'LotteMartDream';</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-style:&nbsp;normal;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-weight:&nbsp;700;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;src:&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')&nbsp;format('woff2'),&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')&nbsp;format('woff');</div><div style="padding:0 6px; white-space:pre; line-height:130%">}</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;</div><div style="padding:0 6px; white-space:pre; line-height:130%">@font-face&nbsp;{</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-family:&nbsp;'LotteMartDream';</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-style:&nbsp;normal;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;font-weight:&nbsp;300;</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;&nbsp;src:&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')&nbsp;format('woff2'),&nbsp;url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')&nbsp;format('woff');</div><div style="padding:0 6px; white-space:pre; line-height:130%">}</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;</div><div style="padding:0 6px; white-space:pre; line-height:130%">.lottemartdream&nbsp;*&nbsp;{</div><div style="padding:0 6px; white-space:pre; line-height:130%">&nbsp;font-family:&nbsp;'LotteMartDream',&nbsp;sans-serif;</div><div style="padding:0 6px; white-space:pre; line-height:130%">}</div></div><div style="text-align:right; margin-top:-13px; margin-right:5px; font-size:9px; font-style:italic"><a href="http://colorscripter.com/info#e" target="_blank" style="color:#e5e5e5; text-decoration:none">Colored by Color Scripter</a></div></td><td style="vertical-align:bottom; padding:0 2px 4px 0"><a href="http://colorscripter.com/info#e" target="_blank" style="text-decoration:none; color:white"><span style="font-size:9px; word-break:normal; background-color:#e5e5e5; color:white; border-radius:10px; padding:1px">cs</span></a></td></tr></table></div-->
        </div>
    </div>
</div>


